# Ignore node_modules directory (if you're using Node.js)
node_modules/

# Ignore .env files (if you're using environment variables)
.env

# Ignore IDE/editor configuration files
.vscode/
.idea/

# Ignore macOS specific files
.DS_Store

# Ignore logs
*.log

# Ignore build directories (if using build tools like Webpack, etc.)
dist/
build/

# Ignore package lock files (optional)
package-lock.json
yarn.lock

# Ignore operating system files (Windows Thumbs.db, etc.)
Thumbs.db

# Ignore all .zip files
*.zip
